#projects-content {
    font-family: 'Dotum', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: #FFFFFF;
    padding: 10px;
    height: 400px;  /* 홈페이지 크기에 맞춰 조정 */
}

#projects-content h2 {
    color: #064dcf;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #B0C4DE;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#projects-content h3 {
    color: #064dcf;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.scrollable-content {
    height: calc(100% - 30px);  /* h2의 높이를 고려하여 조정 */
    overflow-y: auto;
}

#projects-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#projects-content li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #F0F5FF;
}

#projects-content li:hover {
    background-color: #E0E9FF;
}

#projects-content strong {
    display: block;
    margin-bottom: 3px;
}

#projects-content p {
    margin: 0 0 10px 0;
}

.youtube-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* 스크롤바 스타일링 */
.scrollable-content::-webkit-scrollbar {
    width: 6px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}